*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  max-width: 780px;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

/* #F5EDFF */
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h1, h2 {
  font-size: 24px;
  font-weight: 800;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transform: scale(1);
    height: 2300px;
    border-radius: 0;
  }
  75% {
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transform: scale(1);
    height: 2300px;
    border-radius: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: scale(0);
    height: 0;
    border-radius: 50%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  border-radius: 50%;
  transform: scale(0);
  justify-content: flex-start;
  align-items: center;
  background-color: #EAEAEA;
  min-width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;
  animation: fadeOut 3s;
  animation-timing-function: ease-in;
}
.loader-container .loader {
  position: sticky;
  text-align: center;
  vertical-align: middle;
  color: #9356DC;
  font-size: 30px;
  top: 35%;
  border: 8px solid #9356DC; /* Light grey */
  border-top: 8px solid #FF79DA; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s ease-in-out infinite;
}
.loader-container .loader i {
  animation: spin 1.5s linear infinite reverse;
  margin-top: 28%;
}

.logo--main {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 10px;
}
.logo--small {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 12px;
}

.geoloc {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 16px;
  font-weight: bold;
  color: #464646;
  background-color: #EAEAEA;
  border-top: 4px solid #DDDDDD;
}

.fa-location-dot {
  margin: 10px 15px 15px -29px;
}

.explore-bloc {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: #F7F7F7;
}
.explore-bloc h2 {
  padding: 30px 45px 15px 45px;
}
.explore-bloc p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 300;
  padding: 0 20px;
}

.btn-main {
  align-self: center;
  text-align: center;
  width: max-content;
  white-space: nowrap;
  margin: 10px 0;
  padding: 16px 5%;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 25px;
  opacity: 100%;
  cursor: pointer;
  box-shadow: 1px 6px 7px #DDDDDD;
  transition: opacity 400ms ease-in-out, box-shadow 400ms ease-in-out;
}
.btn-main:hover, .btn-main:active {
  opacity: 85%;
  box-shadow: 1px 6px 7px #aaaaaa;
}

.wider {
  width: 45%;
}

.btn-order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 30px 0;
  background-color: #F7F7F7;
}

.fonctionnement-bloc {
  display: flex;
  flex-direction: column;
  margin: 30px 15px 20px;
}
.fonctionnement-bloc ol {
  margin: 20px 0px;
  counter-reset: item;
  list-style-type: none;
}
.fonctionnement-bloc ol li {
  font-size: 16px;
  font-weight: 700;
  background-color: #F7F7F7;
  display: block;
  padding: 20px 20px;
  border-radius: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 14px #DDDDDD;
}
.fonctionnement-bloc ol li:before {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  content: counter(item) "";
  counter-increment: item;
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  line-height: 26px;
  margin-right: 20px;
  margin-left: -31px;
  border-radius: 50%;
}
.fonctionnement-bloc ol li:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.fonctionnement-bloc ol li:hover i {
  color: #9356DC;
}
.fonctionnement-bloc ol i {
  color: #464646;
  font-size: 17px;
  margin-right: 18px;
  width: 15px;
}

.first-container {
  display: flex;
  flex-direction: column;
}

.main-bloc {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 35px 15px;
  background-color: #F7F7F7;
}
.main-bloc .main-bloc-card {
  position: relative;
  z-index: 1;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 6px 7px #DDDDDD;
}
.main-bloc .main-bloc-card img {
  width: 100%;
  height: 185px;
  max-height: 400px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-bloc .main-bloc-card .main-bloc-card-super {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008d75;
  z-index: 10;
  box-shadow: 1px 2px 4px #939393;
}
.main-bloc .main-bloc-card .main-bloc-card-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 25px;
  margin: 5px 15px 0 10px;
}
.main-bloc .main-bloc-card .main-bloc-card-title .icon-container {
  height: 18px;
  align-self: flex-end;
  cursor: pointer;
}
.main-bloc .main-bloc-card .main-bloc-card-title .icon-container i {
  font-size: 22px;
  transition: opacity 750ms ease-in-out, width 750ms, height 750ms;
}
.main-bloc .main-bloc-card .main-bloc-card-title .icon-container i.fa-regular {
  opacity: 100%;
  width: auto;
  height: auto;
}
.main-bloc .main-bloc-card .main-bloc-card-title .icon-container i.fa-solid {
  background-color: #9356DC;
  background-image: linear-gradient(to bottom left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 0;
  height: 0;
  width: 0;
}
.main-bloc .main-bloc-card .main-bloc-card-title .icon-container:hover i.fa-regular, .main-bloc .main-bloc-card .main-bloc-card-title .icon-container:active i.fa-regular {
  opacity: 0;
  height: 0;
  width: 0;
}
.main-bloc .main-bloc-card .main-bloc-card-title .icon-container:hover i.fa-solid, .main-bloc .main-bloc-card .main-bloc-card-title .icon-container:active i.fa-solid {
  opacity: 100%;
  height: auto;
  width: auto;
}
.main-bloc .main-bloc-card h2 {
  font-size: 18px;
}
.main-bloc .main-bloc-card p {
  margin: 0 0 15px 10px;
  font-size: 16px;
}
.main-bloc .main-bloc-card:hover, .main-bloc .main-bloc-card:active {
  box-shadow: none;
}

.footer-bloc {
  background-color: #353535;
  padding: 25px 15px;
  color: white;
  font-size: 15px;
}
.footer-bloc i {
  font-size: 12px;
  width: 20px;
}
.footer-bloc p {
  margin: 9px 0;
}

.nav-back {
  position: absolute;
  font-size: 20px;
  font-weight: 900;
  padding: 10px 0 0 20px;
}

.photo-page-header {
  width: 100%;
  height: 260px;
  background-size: cover;
}
.photo-page-header--resto-1 {
  background-image: url("../toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.photo-page-header--resto-2 {
  background-image: url("../jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.photo-page-header--resto-3 {
  background-image: url("../stil-u2Lp8tXIcjw-unsplash.jpg");
}
.photo-page-header--resto-4 {
  background-image: url("../louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.resto-main-bloc {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 10px 0px;
  width: 100%;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  background-color: #F7F7F7;
}

.resto-main-bloc-title {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Shrikhand", cursive;
  line-height: 25px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.resto-main-bloc-title .icon-container {
  height: 18px;
  align-self: flex-end;
  cursor: pointer;
}
.resto-main-bloc-title .icon-container i {
  font-size: 22px;
  transition: opacity 750ms ease-in-out, width 750ms, height 750ms;
}
.resto-main-bloc-title .icon-container i.fa-regular {
  opacity: 100%;
  width: auto;
  height: auto;
}
.resto-main-bloc-title .icon-container i.fa-solid {
  background-color: #9356DC;
  background-image: linear-gradient(to bottom left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 0;
  height: 0;
  width: 0;
}
.resto-main-bloc-title .icon-container:hover i.fa-regular, .resto-main-bloc-title .icon-container:active i.fa-regular {
  opacity: 0;
  height: 0;
  width: 0;
}
.resto-main-bloc-title .icon-container:hover i.fa-solid, .resto-main-bloc-title .icon-container:active i.fa-solid {
  opacity: 100%;
  height: auto;
  width: auto;
}
.resto-main-bloc-title h1 {
  font-size: 28px;
  font-weight: lighter;
}
.resto-main-bloc-title h1:first-letter {
  text-transform: capitalize;
}

.resto-section {
  padding: 15px 15px;
  animation: fadeInAnimation ease 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.resto-section h2 {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 8px;
  position: relative;
}
.resto-section h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.resto-card {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 15px 0 15px 0;
  border-radius: 15px;
  box-shadow: 1px 2px 14px #DDDDDD;
  background-color: white;
  font-size: 15px;
  animation: fadeInAnimation ease 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.resto-card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resto-card p {
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resto-card .card-content {
  padding: 10px;
  width: 80%;
}
.resto-card .card-price {
  font-weight: 700;
  height: 100%;
  padding: 15px;
  padding-left: 5px;
}
.resto-card .card-tick {
  display: none;
  background-color: #99E2D0;
  color: white;
  margin: 0 -56px 0 0;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  transition: all 0.5s;
}
.resto-card .card-tick i {
  font-size: 24px;
  transform: rotate(-180deg);
  transition: transform 0.5s;
}
.resto-card:hover, .resto-card:active {
  cursor: pointer;
}
.resto-card:hover .card-content, .resto-card:active .card-content {
  width: 60%;
}
.resto-card:hover .card-tick, .resto-card:active .card-tick {
  margin-right: 0;
}
.resto-card:hover .card-tick i, .resto-card:active .card-tick i {
  transform: rotate(360deg);
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

.delay-4 {
  animation-delay: 0.8s;
}

.delay-5 {
  animation-delay: 1s;
}

.delay-6 {
  animation-delay: 1.2s;
}

.delay-7 {
  animation-delay: 1.4s;
}

.delay-8 {
  animation-delay: 1.6s;
}

.delay-9 {
  animation-delay: 1.8s;
}

.delay-10 {
  animation-delay: 2s;
}

.delay-11 {
  animation-delay: 2.2s;
}

.delay-12 {
  animation-delay: 2.4s;
}

@media only screen and (min-width: 780px) {
  /* for 10 inches tablet screens */
  html {
    max-width: 992px;
  }
  .first-container {
    flex-direction: row-reverse;
    align-items: stretch;
  }
  .explore-bloc {
    background-color: inherit;
    align-self: stretch;
    justify-content: space-between;
    width: 57%;
  }
  .explore-bloc p {
    margin-bottom: 0;
  }
  .explore-bloc .btn-main {
    margin-bottom: 50px;
  }
  .fonctionnement-bloc {
    margin-bottom: 0;
    width: 50%;
  }
  .fonctionnement-bloc ol {
    margin-bottom: 0;
  }
  .main-bloc {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .main-bloc h2 {
    flex: 0 1 100%;
  }
  .main-bloc .main-bloc-card {
    width: 42%;
  }
  .resto-main-bloc-title {
    justify-content: flex-end;
  }
  .resto-main-bloc-title h1 {
    flex: 1;
    text-align: center;
  }
  .resto-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .resto-section h2 {
    flex: 0 1 100%;
  }
  .resto-section .resto-card {
    width: 48%;
  }
  .resto-section .resto-card .card-price {
    height: inherit;
  }
  .wider {
    width: 20%;
  }
  .footer-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-bloc h1 {
    flex: 0 1 100%;
  }
  .footer-bloc p {
    margin-right: 15px;
  }
}
@media only screen and (min-width: 992px) {
  /* for 10 inches tablet screens */
  html {
    max-width: 1400px;
    margin: 0 auto;
  }
  .main-bloc .main-bloc-card {
    width: 20%;
  }
  .resto-main-bloc {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .resto-main-bloc .resto-main-bloc-title {
    flex: 0 1 100%;
  }
  .resto-main-bloc .resto-section {
    display: block;
    width: 30%;
  }
  .resto-main-bloc .resto-card {
    width: unset;
  }
}

/*# sourceMappingURL=style.css.map */
